body {
    margin: 0;
	font-family: "Sofia Sans Extra Condensed", serif;
}


header {
    background-color: #0f1b32;
    color: white;
}

h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: 800;
    text-transform: uppercase;
    margin: -0.75rem;
    color: #ffca34;
}

h2 {
    font-weight: 800;
    font-size: clamp(2rem, 8vw, 5rem);
    text-transform: uppercase;
}

nav {
    text-align: right;
    padding: 1.25rem clamp(2rem, 3vw, 5rem);
    word-spacing: clamp(0.5rem, 3vw, 1.55rem);

}

nav a {
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: clamp(0.5rem, 3.5vw, 1.55rem);
    text-transform: uppercase;
}

li {
    list-style-type: none;
    display:inline;
}

li:hover {
    border-bottom: 0.188rem solid #ffca34;
}

.logo {
    position: absolute;
    padding: 1.25rem clamp(2rem, 3vw, 5rem);

}

.unihome {
    background-color: #0f1b32;
    color: white;
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: clamp(1rem, 5vw, 3rem); 
    flex-wrap: wrap; 
  }

.unilogo {
    height: clamp(10rem, 25vw, 18rem);
    padding-bottom: 3.5rem;
}

.unitext {
    text-align: center;
    font-size: clamp(1.25rem, 3.5vw, 2.25rem);
    line-height: clamp(1.5rem, 4vw, 2.25rem);
    font-weight: 200;
}

  .home-logos {
    width: clamp(4rem, 10vw, 6.25rem);
	height: auto;
  }

  .home-2024 {
    text-align: left;
    color: white;
    padding: clamp(3rem, 4vw, 7rem) clamp(5rem, 10vw, 14rem);
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    font-weight: 200;
    line-height: 0rem;
    background-image: url('img/hurts1.png');
    background-color: #204c55;
    background-position: right;
    background-size: contain; 
    background-repeat: no-repeat;
  }

  .btn-2024 a {
    color:#204c55;
    font-weight: 600;
    padding: clamp(1rem, 2vw, 1.875rem) clamp(0.75rem, 2vw, 1.25rem);
    background-color: white;
    display: inline-block;
    text-decoration: none;
    border: 0.125rem solid transparent;
    line-height: 0.5;
    
  }

  .home-2023 {
    background-color: #d23942;
    text-align: right;
    color: white;
    padding: clamp(3rem, 4vw, 7rem) clamp(5rem, 10vw, 14rem);
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    font-weight: 200;
    line-height: 0rem;
    background-image: url('img/mahomes3.png');
    background-color:  #d23942;
    background-position: left;
    background-size: contain; 
    background-repeat: no-repeat;
  }

  .btn-2023 a {
    color:#d23942;
    font-weight: 600;
    padding: clamp(1rem, 2vw, 1.875rem) clamp(0.75rem, 2vw, 1.25rem);
    background-color: white;
    display: inline-block;
    text-decoration: none;
    border: 0.125rem solid transparent;
    line-height: 0.5;
    
  }

  .home-2022 {
    background-color: #ffffff;
    text-align: left;
    color: #d23942;
    padding: clamp(3rem, 4vw, 7rem) clamp(5rem, 10vw, 14rem);
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    font-weight: 200;
    line-height: 0rem;
    background-image: url('img/mahomes2.png');
    background-color:  #ffffff;
    background-position: right;
    background-size: contain; 
    background-repeat: no-repeat;

  }

  .btn-2022 a {
    color: white;
    font-weight: 600;
    padding: clamp(1rem, 2vw, 1.875rem) clamp(0.75rem, 2vw, 1.25rem);
    background-color: #d23942;
    display: inline-block;
    text-decoration: none;
    border: 0.125rem solid transparent;
    line-height: 0.5;

}

.btn-2024 a:hover {
    background-color: #204c55;
    border: 0.125rem solid white;
    color: white;
}

.btn-2023 a:hover {
    background-color: #d23942;
    border: 0.125rem solid white;
    color: white
}

.btn-2022 a:hover {
    background-color: white;
    border: 0.125rem solid#d23942;
    color: #d23942
}

.contact-about-home {
    background-color: #0f1b32;
    color: #ffffff;
    padding: clamp(2rem, 4vw, 7rem) clamp(5rem, 10vw, 14rem);
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 200;
    line-height: clamp(1.5rem, 4vw, 3rem);
    text-align: center;
}

.btn-contact a {
    color:#0f1b32;
    font-weight: 600;
    padding: clamp(1rem, 2vw, 1.875rem) clamp(0.75rem, 2vw, 1.25rem);
    background-color: white;
    display: inline-block;
    text-decoration: none;
    border: 0.125rem solid transparent;
    margin-bottom: 3rem;
    margin-top: -5rem;
    line-height: 0.5;
}

.btn-about a {
    color:#0f1b32;
    font-weight: 600;
    padding: clamp(1rem, 2vw, 1.875rem) clamp(0.75rem, 2vw, 1.25rem);
    background-color: white;
    display: inline-block;
    text-decoration: none;
    border: 0.125rem solid transparent;
    margin-top: -5rem;
    line-height: 0.5;
}

.btn-contact a:hover {
    background-color: #0f1b32;
    border: 0.125rem solid white;
    color: white;
}

.btn-about a:hover {
    background-color: #0f1b32;
    border: 0.125rem solid white;
    color: white;
}

.season {
    text-align: center;
    color: white;
    padding: 3rem 0rem;
    font-size: clamp(1rem, 2.5vw, 1.9rem);
    font-weight: 200;
    line-height: clamp(2rem, 2vw, 2.5rem);
    width: 100%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-20%);
    text-align: center;
}

.hurtsbg {
    background-image: url('img/hurts2.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0f1b32;
  }

.mahomesbg1 {
    background-image: url('img/mahomes1.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0f1b32;
}

.mahomesbg2 {
    background-image: url('img/mahomes4.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0f1b32;
}

.scores {
    color:white;
    font-size: clamp(1.5rem, 2vw, 2rem);
    display: flex;
	justify-content: space-between;
	align-items: center;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.scores img {
    width: clamp(1.5rem, 4vw, 2rem);
    height: auto;
    border: 0.1rem solid white;
}

.scores:hover {
    background-color: #152849;
}

.record {
    font-size: 1rem;
    margin-bottom: -1rem;
}

.scoresgrid {
    background: #0f1b32;
	display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
    padding: 1rem 2rem;
    justify-content: center;
}

#scoresgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; 
  }
  
  #scoresgrid.single-game {
    justify-content: center;
  }

.week {
    grid-column: 1/-1; 
    background-color: #0f1b32;
    color:#ffffff;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 0.1rem solid #ffca34;
    padding-bottom: 0.5rem;
    width: 100%;
}

.week img {
    height: clamp(4rem, 7vw, 6rem);
    width: auto;
    justify-content: center;
}

.filtergrid {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, clamp(2rem, 5vw, 4rem));
    grid-auto-rows: clamp(2rem, 5vw, 4rem);
    justify-content: center;
}

.filtergrid img {
    width: clamp(1.5rem, 4vw, 3rem);
    cursor: pointer;
    border: clamp(0.05rem, 0.2vw, 0.125rem) solid white;
}

.filtergrid img:hover {
    transform: scale(1.1);
}

button {
    background: #ffca34;
    color: #0f1b32;
    border: none;
    padding: clamp(0.25rem, 2vw, 0.5rem) clamp(1vw, 2vw, 1.5rem);
    border-radius: 4px;
    cursor: pointer;
    font-family: "Sofia Sans Extra Condensed", serif;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 700;
    border: 0.1rem solid transparent;
    margin-top: clamp(0.5rem, 3vw, 2rem);
    margin-bottom: -1rem;
}

button:hover {
    background: #0f1b32;
    border: 0.1rem solid #ffca34;
    color:#ffca34;
}

.content-section {
  padding: 2rem;
}


.contact {
    background-color: #0f1b32;
    color:#ffffff;
    line-height: clamp(1.5rem, 2vw, 2rem);
    padding: 5rem clamp(5rem, 20vw, 25rem);
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 500;
}

input[type="text"],
input[type="email"] {
	width: 100%;
	padding: 1rem;
	margin: 1rem 0rem;
	font-size: clamp(1rem, 3vw, 1.5rem);
	box-sizing: border-box;
	font-family: "Sofia Sans Extra Condensed", serif;
	border: #ffca34;
	color: #0f1b32;
}

.message {
    margin: 1rem 0rem;
}

input[type=submit] {
    background-color:#ffca34;
    color:#0f1b32;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    border: 0.125rem solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    text-align: left;
    font-family: "Sofia Sans Extra Condensed", serif;
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 1.5rem);
} 

textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	margin-bottom: 20px;
	font-size: clamp(1rem, 3vw, 1.5rem);
	font-family: "Sofia Sans Extra Condensed", serif;
}

input[type=submit]:hover {
    background-color:#0f1b32;
    border: 0.125rem solid #ffca34;
    color:#ffca34;
}
  
.about {
    color:#ffffff;
    line-height: clamp(1.5rem, 3vw, 2rem);
    padding: 5rem 5rem 5rem clamp(5rem, 10vw, 10rem);
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 300;
    background: #0f1b32 url(img/matt.png) no-repeat;
    background-position: bottom right;
    background-size: clamp(25rem, 45vw, 35rem);
    text-align: left;
}

.about-text-top {
    width: 65%;
}

.about-text-middle {
    width: 55%;
}

.about-text-bottom {
    width: 55%;
}

footer {
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    line-height: 0.3rem;
    padding: 0.175rem;
 }

@media screen and (max-width:1100px) {

    .unihome {
        background-image: none;
        text-align: center;
        transform: none;
    }

    .unilogo {
        display: none;
    }

    .unitext {
        transform: none;
    }

    .home-2024 {
        background-image: none;
        background-color: #204c55;
        text-align: center;
    }

    .home-2023 {
        background-image: none;
        background-color: #d23942;
        text-align: center;
    }

    .home-2022 {
        background-image: none;
        background-color: #ffffff;
        text-align: center;
    }

    .season {
        background-image: none;
        background-color: #0f1b32;
        text-align: center;
    }

    .filter-container {
        transform: none;
    }


}
@media screen and (max-width:950px) {

    .about {
        background-image: none;
        padding: 5rem clamp(5rem, 10vw, 10rem);
        text-align: center;
    }

    .about-text-top, .about-text-bottom, .about-text-middle {
        width: 100%;
    }

    }


@media screen and (max-width:500px) {

    br {
        display: none;
    }

    }

 @media screen and (max-width:420px) {

    .home-2024, .home-2023, .home-2022{
       padding: 2rem 1rem;
       line-height: clamp(1.5rem, 6vw, 2rem);
    }

    h2 {
        margin-top: 0.5rem;
        margin-bottom: -1rem;
    }
}